@using System.Security.Claims;
@{    
    if (Context.User.Identity.IsAuthenticated)
    {
        Layout = "LoggedIn_Layout";
    }
    else
    {
        Layout = "_Layout";
    }    
    var user = User.FindFirstValue(ClaimTypes.Name);
}
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/web/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Poster</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- Start Align Area -->
<div style="background: #ededed;" class="whole-wrap">
    <div class="container box_1170">
        <div  class="section-top-border">
            <div  class="row">
                <div  class="col-lg-8 col-md-8">
                    <form style="background: #ededed;" action="#">
                        <h3 class="mb-30">Create New Job</h3>

                        <div class="mt-10">
                            <p>Job Name<span class="required"> *</span></p>
                            <input type="text" name="job_name" placeholder=""
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = ''" required
                                   class="single-input">
                        </div>
                        <div class="mt-10">
                            <p>Job Tags<span class="required"> *</span></p>
                            <input type="text" name="tag_name" placeholder="Ex: Unity C# Javascript"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ex: Unity C# Javascript'" required
                                   class="single-input">
                        </div>

                        <div class="contact-item">
                            <div class="item">
                                <p>Start Salary<span class="required">*</span></p>
                                <input style="height:40px" type="text" name="name" required class="single-input" />
                            </div>
                            <div class="item">
                                <p>End Salary<span class="required">*</span></p>
                                <input style="height:40px" type="text" name="name" required class="single-input" />
                            </div>
                        </div>
                        <div class="position-item">
                            <div class="item">
                                <p>Start Date<span class="required"> *</span></p>
                                <input style="height:40px" type="date" name="bdate" required class="single-input" />
                                <i class="fas fa-calendar-alt" style="margin-right:10px"></i>
                            </div>
                            <div class="item">
                                <p>End Date<span class="required"> *</span></p>
                                <input style="height:40px" type="date" name="bdate" required class="single-input" />
                                <i class="fas fa-calendar-alt" style="margin-right:10px"></i>
                            </div>
                        </div>

                        <div class="mt-10">
                            <p>Address<span class="required">*</span></p>
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                <input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Address'" required class="single-input">
                            </div>
                        </div>

                        <div class="mt-10">
                            <p>City<span class="required">*</span></p>
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                <div class="form-select" id="default-select">
                                    <select>
                                        <option value="1">City</option>
                                        <option value="1">Dhaka</option>
                                        <option value="1">Dilli</option>
                                        <option value="1">Newyork</option>
                                        <option value="1">Islamabad</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="contact-item">
                            <div class="item">
                                <p>Job Title<span class="required">*</span></p>
                                <select required>
                                    <option value="1">Job 1</option>
                                    <option value="2">Job 2</option>
                                    <option value="3">Job 3</option>
                                    <option value="4">Job 4</option>
                                    <option value="5">Job 5</option>
                                </select>
                            </div>
                            <div class="item">
                                <p>Job Type<span class="required">*</span></p>
                                <select required>
                                    <option value="1">Job 1</option>
                                    <option value="2">Job 2</option>
                                    <option value="3">Job 3</option>
                                    <option value="4">Job 4</option>
                                    <option value="5">Job 5</option>
                                </select>
                            </div>
                        </div>

                        <div class="mt-10">
                            <p>Description<span class="required">*</span></p>
                            <textarea class="single-textarea" placeholder="Text" onfocus="this.placeholder = ''"
                                      onblur="this.placeholder = 'Text'" required></textarea>
                        </div>

                    </form>
                </div>
                <div class="col-lg-3 col-md-4 mt-sm-30">
                    <div class="single-element-widget">
                        <h3 class="mb-30">Job Nature</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>Intership</p>
                            <div class="confirm-switch">
                                <input type="checkbox" id="confirm-switch" checked>
                                <label for="confirm-switch"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>Full Time</p>
                            <div class="primary-switch">
                                <input type="checkbox" id="primary-switch" checked>
                                <label for="primary-switch"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>Part Time</p>
                            <div class="primary-switch">
                                <input type="checkbox" id="default-switch">
                                <label for="default-switch"></label>
                            </div>
                        </div>
                    </div>
                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30">Photos</h3>
                        <input type="file" name="file" accept="file/*">
                    </div>
                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30">Skills</h3>
                        <div class="default-select" id="default-select">
                            <select>
                                <option value=" 1">C#</option>
                                <option value="1">PHP</option>
                                <option value="1">Java</option>
                                <option value="1">Python</option>
                                <option value="1">Ruby</option>
                            </select>
                        </div>
                    </div>

                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30">Skill Level</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>01. Sample radio</p>
                            <div class="primary-radio">
                                <input type="radio" value="none" id="radio_1" name="status" required />
                                <label for="radio_1"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>02. Primary Color radio</p>
                            <div class="primary-radio">
                                <input type="radio" value="none" id="radio_2" name="status" required />
                                <label for="radio_2"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>03. Confirm Color radio</p>
                            <div class="primary-radio">
                                <input type="radio" value="none" id="radio_3" name="status" required />
                                <label for="radio_3"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>04. Disabled radio</p>
                            <div class="primary-radio">
                                <input type="radio" value="none" id="radio_4" name="status" required />
                                <label for="radio_4"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>05. Disabled radio active</p>
                            <div class="primary-radio">
                                <input type="radio" value="none" id="radio_5" name="status" required />
                                <label for="radio_5"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <div class="cv-caption text-center">
                                
                                <button type="submit" class="border-btn2 border-btn4">Create New Job</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->
<link rel="stylesheet" href="/web/css/post.css">
