@using System.Security.Claims;
@using DAL.Entities;
@model IEnumerable<EmployeeAppliedForJob>;
@{    
    if (Context.User.Identity.IsAuthenticated)
    {
        Layout = "LoggedIn_Layout";
    }
    else
    {
        Layout = "_Layout";
    }    
    var user = User.FindFirstValue(ClaimTypes.Name);
}
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/web/table/css/style1.css">

<!-- Hero Area Start-->
<div class="slider-area ">
	<div class="single-slider section-overly slider-height2 d-flex align-items-center"
		data-background="/web/img/hero/about.jpg">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="hero-cap text-center">
						<h2>List CV</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section style="background: #ededed;" class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="table-wrap">
					<table class="table table-responsive-xl">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>#</th>
								<th>Candidate</th>
								<th>Email</th>
								<th>CV</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							@foreach(var item in Model)
							{
								<tr class="alert" role="alert">
								<td>
									<label class="checkbox-wrap checkbox-primary">
										<input type="checkbox">
										<span class="checkmark"></span>
									</label>
								</td>
								<td>1</td>
								<td class="d-flex align-items-center">
									<div class="img" style="background-image: url(/web/table/images/person_1.jpg);"></div>
									<div class="pl-3 email">
										<span>@item.Cv.Employee.EmployeeNavigation.FullName</span>	
										<span>@item.Date</span>
									</div>
								</td>
								<td>@item.Cv.Employee.EmployeeNavigation.Email</td>
								<td class="status"><span class="active">@item.Cv.Weight</span></td>
								<td>
									<button style="width:40px" type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</button>
									<button style="width:40px" type="button" class="close" aria-label="Download">
										<span><i class="fa fa-download"></i></span>
									</button>
									<button style="width:40px" type="button" class="close" aria-label="Search">
										<span><i class="fa fa-search"></i></span>
									</button>
								</td>
							</tr>
							}

							<tr class="alert" role="alert">
								<td>
									<label class="checkbox-wrap checkbox-primary">
										<input type="checkbox">
										<span class="checkmark"></span>
									</label>
								</td>
								<td>2</td>
								<td class="d-flex align-items-center">
									<div class="img" style="background-image: url(/web/table/images/person_2.jpg);"></div>
									<div class="pl-3 email">
										<span>Jacobthornton</span>
										<span>Added: 01/03/2020</span>
									</div>
								</td>
								<td>jacobthornton@email.com</td>
								<td class="status"><span class="active">100MB</span></td>
								<td>
									<button style="width:40px" type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</button>
									<button style="width:40px" type="button" class="close" aria-label="Download">
										<span><i class="fa fa-download"></i></span>
									</button>
									<button style="width:40px" type="button" class="close" aria-label="Search">
										<span><i class="fa fa-search"></i></span>
									</button>
								</td>
							</tr>
							<tr class="alert" role="alert">
								<td>
									<label class="checkbox-wrap checkbox-primary">
										<input type="checkbox">
										<span class="checkmark"></span>
									</label>
								</td>
								<td>3</td>
								<td class="d-flex align-items-center">
									<div class="img" style="background-image: url(/web/table/images/person_3.jpg);"></div>
									<div class="pl-3 email">
										<span>Larry_bird</span>
										<span>Added: 01/03/2020</span>
									</div>
								</td>
								<td>larrybird@email.com</td>
								<td class="status"><span class="active">26MB</span></td>
								<td>
									<button style="width:40px" type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</button>
									<button style="width:40px" type="button" class="close" aria-label="Download">
										<span><i class="fa fa-download"></i></span>
									</button>
									<button style="width:40px" type="button" class="close" aria-label="Search">
										<span><i class="fa fa-search"></i></span>
									</button>
								</td>
							</tr>
							<tr class="alert" role="alert">
								<td>
									<label class="checkbox-wrap checkbox-primary">
										<input type="checkbox">
										<span class="checkmark"></span>
									</label>
								</td>
								<td>4</td>
								<td class="d-flex align-items-center">
									<div class="img" style="background-image: url(/web/table/images/person_4.jpg);"></div>
									<div class="pl-3 email">
										<span>Johndoe1990</span>
										<span>Added: 01/03/2020</span>
									</div>
								</td>
								<td>johndoe@email.com</td>
								<td class="status"><span class="active">26MB</span></td>
								<td>
									<button style="width:40px" type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</button>
									<button style="width:40px" type="button" class="close" aria-label="Download">
										<span><i class="fa fa-download"></i></span>
									</button>
									<button style="width:40px" type="button" class="close" aria-label="Search">
										<span><i class="fa fa-search"></i></span>
									</button>
								</td>
							</tr>
							<tr class="alert" role="alert">
								<td class="border-bottom-0">
									<label class="checkbox-wrap checkbox-primary">
										<input type="checkbox">
										<span class="checkmark"></span>
									</label>
								</td>
								<td>5</td>
								<td class="d-flex align-items-center border-bottom-0">
									<div class="img" style="background-image: url(/web/table/images/person_1.jpg);"></div>
									<div class="pl-3 email">
										<span>Garybird_2020</span>
										<span>Added: 01/03/2020</span>
									</div>
								</td>
								<td class="border-bottom-0">garybird@email.com</td>
								<td class="status"><span class="active">26MB</span></td>
								<td>
									<button style="width:40px" type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</button>
									<button style="width:40px" type="button" class="close" aria-label="Download">
										<span><i class="fa fa-download"></i></span>
									</button>
									<button style="width:40px" type="button" class="close" aria-label="Search">
										<span><i class="fa fa-search"></i></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="~/web/table/js/jquery.min.js"></script>
<script src="~/web/table/js/popper.js"></script>
<script src="~/web/table/js/bootstrap.min.js"></script>
<script src="~/web/table/js/main.js"></script>