@using System.Security.Claims;
@using DAL.Entities;
@model IEnumerable<Cv>;
@{
    if (Context.User.Identity.IsAuthenticated)
    {
        Layout = "LoggedIn_Layout";
    }
    else
    {
        Layout = "_Layout";
    }
    var user = User.FindFirstValue(ClaimTypes.Name);
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="/web/css/listcv.css">

<link rel="stylesheet" href="/web/table/css/style1.css">
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/web/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>List CV</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    @using (Html.BeginForm("AddCV", "CV", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div style="margin-bottom:10px" class="btn-group">
                            <input style="height: 55px;width: 430px" type="text" placeholder="CV File Name" name="filename" class="input-form form-control form-control-lg">
                            <input style="margin-left:10px; height: 55px; width: 530px" name="file" class="form-control form-control-lg" id="formFileLg" type="file">
                            <button style="margin-left:20px;width:180px" type="submit" class="btn btn-secondary">ADD CV</button>
                        </div>
                    }
                    <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
                        <div class="table-wrap">
                            <table class="table table-responsive-xl">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name CV</th>
                                        <th>View the CV</th>
                                        <th>CV</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cv in Model)
                                    {
                                        <tr class="alert" role="alert">
                                            <td>1</td>
                                            <td class="d-flex align-items-center">
                                                <div class="pl-3 email">
                                                    <span>@cv.CvName</span>
                                                    <span>Date</span>
                                                </div>
                                            </td>
                                            <td style="word-wrap: break-word;"><a href=@cv.StoredUrl target="_blank">View</a></td>
                                            <td class="status"><span class="active">@cv.Weight KB</span></td>
                                            <td>
                                                <button style="width:40px" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                                </button>
                                                <button style="width:40px" type="button" class="close" aria-label="Download">
                                                    <span><i class="fa fa-download"></i></span>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/Sortable.js"></script>
<script>
    $(document).ready(function() {
        var example2Left = document.getElementById('example2-left');
        var example2Right = document.getElementById('example2-right');
        new Sortable(example2Left, {
            group: 'shared', // set both lists to same group animation: 150 }); new Sortable(example2Right, { group: 'shared', animation: 150 }); });
</script>
