<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="/web/css/listcv.css">

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/web/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>List CV</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            <div class="col-sm-12">

                <div class="container">

                    <div style="margin-bottom:10px" class="btn-group">
                        <input style="height: 55px; width: 380px" class="form-control form-control-lg" id="formFileLg" type="file">
                        <button style="margin-left:10px;width:150px" type="button" href="@Url.Action("ListCv","Employee")" class="btn btn-secondary">ADD CV</button>
                    </div>
                    <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
                        <div class="row">
                            <div class="col-md-6" id="example2-left">
                                <div class="list-item" data-id="13" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Sam idod</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">15 weeks ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true"><i class="fa fa-search"></i> See detail </a>
                                                <a class="dropdown-item download" data-abc="true"><i class="fa fa-download"></i> Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true"><i class="fa fa-trash"></i> Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="9" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Sam qpire</a>
                                        <div class="item-except text-muted text-sm h-1x">advisable for me to think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">12 days ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a href="#" class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a href="#" class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="17" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Tidoh mark</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason for me to think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">3/1/18</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="8" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true"> Telon Maskun</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">12/10/19</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="10" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Clark Handscomb</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">10 day ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="3" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Jordan Stephens</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">10 hour ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="example2-right">
                                <div class="list-item" data-id="13" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Patrick Linod</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">3 weeks ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="9" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Steven Hmpire</a>
                                        <div class="item-except text-muted text-sm h-1x">Build a progressive web app using jQuery</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">2 days ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="17" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Alan musk</a>
                                        <div class="item-except text-muted text-sm h-1x">it be advisable for me to think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">13/12 18</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="8" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Lawrence Telon</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">02/11 18</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="10" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false" style="">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Stuart Clark</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would, i think about business content?</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">1 day ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item" data-id="3" data-item-sortable-id="0" draggable="true" role="option" aria-grabbed="false">
                                    <div class="flex">
                                        <a href="#" class="item-author text-color" data-abc="true">Jordan Stephens</a>
                                        <div class="item-except text-muted text-sm h-1x">For what reason would it be advisable for me to think about business</div>
                                    </div>
                                    <div class="no-wrap">
                                        <div class="item-date text-muted text-sm d-none d-md-block">1 hour ago</div>
                                    </div>
                                    <div>
                                        <div class="item-action dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted" data-abc="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                <a class="dropdown-item" href="#" data-abc="true">See detail </a><a class="dropdown-item download" data-abc="true">Download </a>
                                                <div class="dropdown-divider"></div> <a class="dropdown-item trash" data-abc="true">Delete item</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/Sortable.js"></script>
<script>
    $(document).ready(function () {
        var example2Left = document.getElementById('example2-left');
        var example2Right = document.getElementById('example2-right');
        new Sortable(example2Left, {
            group: 'shared', // set both lists to same group animation: 150 }); new Sortable(example2Right, { group: 'shared', animation: 150 }); });
</script>