@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using WebApp.Models.RequestModel;
    @model ChangePasswordRequest;
}
@if (!string.IsNullOrEmpty(ViewBag.result))
{
    <script type="text/javascript">
        alert("@ViewBag.result");
    </script>
}
<div class ="container">
    <div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Change Password</h3>
    </div>
    <div class="card-body">
        <form class="form" method="post" role="form" autocomplete="off">
            <div class="form-group">
                 <label for="inputPasswordNew">Current Password</label>
                @Html.PasswordFor(m=>m.OldPassword)
            </div>
            <div class="form-group">
                <label for="inputPasswordNew">New Password     </label>
                @Html.PasswordFor(m=>m.NewPassword)
            </div>
          
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
            </div>
        </form>
    </div>
</div>
</div>

